.navigaation
	.navigation__menu
		.navigation__menu__text Menu
	.navigation__cto
		.navigation__cto__link
			a.navigation__cto__text(href="#") Instagram
		.navigation__cto__link
			.navigation__cto__text /
		.navigation__cto__link
			a.navigation__cto__text(href="#") Facebook
