doctype html
html(lang="en" class=isDesktop ? "desktop" : isTablet ? "tablet" : isMobile ? "mobile": "")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		base(href="/")

		link(href="main.css" rel="stylesheet")

		script(src="main.js" defer)

		body
			include ./partials/navigation
			include ./pages/home
