.home
	.home__wrapper
		.home__hero
			.home__hero__titles.t1
				p.home__hero__titles__text Does It
			.home__hero__titles.t2
				p.home__her0__titles__text Matter?
			figure.home__hero__media.m1
				img.home__hero__media__image(alt="from unsplash", src="images/caique-nascimento-C5NOq1BKlAk-unsplash.jpg")
			figure.home__hero__media.m2
				img.home__hero__media__image(alt="from unsplash", src="images/taylor-hernandez-hZdF1lzo8fs-unsplash.jpg")
			figure.home__hero__media.m3
				img.home__hero__media__image(alt="from unsplash", src="images/ayo-ogunseinde-UqT55tGBqzI-unsplash.jpg")
		.home__shows
			.description__label
				.description__label__text gallery
			.home__shows__item
				.shows__item__container
					.show__item__container__item
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text from
							.container__item__data__digit
								.container__item__data__digit__text 1992
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text until
							.container__item__data__digit
								.container__item__data__digit__text 2012
					.show__item__container__item
						.container__item__titles
							.container__item__titles__text SALUMBAC
					.show__item__container__item
						.container__item__expand
							.container__item__expand__ico
								svg(width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M6.75 6.75L2.25 2.25M3 6.75H6.75V3" stroke="#F4F4F4" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round")
			.home__shows__item
				.shows__item__container
					.show__item__container__item
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text from
							.container__item__data__digit
								.container__item__data__digit__text 1994
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text until
							.container__item__data__digit
								.container__item__data__digit__text 2013
					.show__item__container__item
						.container__item__titles
							.container__item__titles__text ALEGRIA
					.show__item__container__item
						.container__item__expand
							.container__item__expand__ico
								svg(width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M6.75 6.75L2.25 2.25M3 6.75H6.75V3" stroke="#F4F4F4" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round")
			.home__shows__item
				.shows__item__container
					.show__item__container__item
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text from
							.container__item__data__digit
								.container__item__data__digit__text 1996
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text until
							.container__item__data__digit
								.container__item__data__digit__text 2016
					.show__item__container__item
						.container__item__titles
							.container__item__titles__text QUIDAM
					.show__item__container__item
						.container__item__expand
							.container__item__expand__ico
								svg(width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M6.75 6.75L2.25 2.25M3 6.75H6.75V3" stroke="#F4F4F4" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round")
			.home__shows__item
				.shows__item__container
					.show__item__container__item
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text from
							.container__item__data__digit
								.container__item__data__digit__text 1998
						.container__item__data
							.container__item__data__sub
								.container__item__data__sub__text until
							.container__item__data__digit
								.container__item__data__digit__text 2017
					.show__item__container__item
						.container__item__titles
							.container__item__titles__text LA
					.show__item__container__item
						.container__item__expand
							.container__item__expand__ico
								svg(width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M6.75 6.75L2.25 2.25M3 6.75H6.75V3" stroke="#F4F4F4" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round")

		.home__gallery
			.circle
				.circle__inner
			.description__label
				.description__label__text gallery
			.home__gallery__titles
				.home__gallery__titles__text LOOK TO THE SKIES, LAUGH FROM THE BOTTOM OF YOUR SOUL
			.home__gallery__slider__wrapper
				.home__gallery__slider
					a.home__gallery__link(href="")
						.figure.home__gallery__media
							img.home__gallery__media(src="images/aiony-haust-K0DxxljcRv0-unsplash.jpg" alt="from unsplash")
					a.home__gallery__link(href="")
						.figure.home__gallery__media
							img.home__gallery__media(src="images/ayo-ogunseinde-tvQFuEZCmd4-unsplash.jpg" alt="from unsplash")
					a.home__gallery__link(href="")
						.figure.home__gallery__media
							img.home__gallery__media(src="images/oladimeji-odunsi-aU_eOcelLhQ-unsplash.jpg" alt="from unsplash")
					a.home__gallery__link(href="")
						.figure.home__gallery__media
							img.home__gallery__media(src="images/oladimeji-odunsi-Yi4Zs64l0tE-unsplash.jpg" alt="from unsplash")
					a.home__gallery__link(href="")
						.figure.home__gallery__media
							img.home__gallery__media(src="images/oladimeji-odunsi-AHBvAIVqk64-unsplash.jpg" alt="from unsplash")
		.home__footer
			.home__footer__link
				.home__footer__link__text Contact


